#root {
  height: inherit;
}

.height-100 {
  height: 100%;
}

.docs {
  min-height: 150vh;
  text-decoration: none;
  background: #f7f7f7;

  &-header {
    position: relative;
    z-index: 19999;
    display: flex;
    height: 65px;
    background-color: #fff;
    border-bottom: 1px solid #e2231a;
    transform: translateZ(0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    animation: logoSectionTop .24s ease-in-out;
    justify-content: center;
    align-items: center;
  }

  &-wrap {
    display: flex;
  }

  &-side {
    width: 300px;
    background: #eee;
    flex-shrink: 0;

    li {
      height: 50px;
      border: 1px solid;
    }

    li:hover {
      background: #fff;
    }
  }

  &-view {
    margin: 15px;
    background: #fff;
    flex: 1;

    // position: relative;
    // width: 100%;
    // height: 100%;
    // box-sizing: border-box;
    // padding-left: 300px;
    // overflow-y: auto;
  }

  &-page-content {
    position: absolute;
    width: calc(100% - 300px);
    height: 100%;
    padding: 56px 0;
    overflow-y: auto;
    background: #fff;
  }

  &-main {
    display: flex;
    width: 100%;
    padding: 20px 60px 20px 20px;
    box-sizing: border-box;
    // overflow: hidden;
  }

  &-code {
    max-width: calc(100% - 400px);
    margin-right: 30px;
    flex: 1;
  }

  &-iframe {
    width: 377px;
    height: 548px;
    border-top: none;
    border-right: 1px solid rgb(247, 247, 247);
    border-bottom: 1px solid rgb(247, 247, 247);
    border-left: 1px solid rgb(247, 247, 247);
    border-image: initial;
    box-shadow: rgb(235, 235, 235) 0 2px 4px;
  }

  &-api {
    padding: 20px;
  }
}

.search-box {
  position: relative;
  display: inline-block;
  width: 560px;
  height: 36px;
  background-color: #fff;
  border: 2px solid #e2231a;
  box-sizing: border-box;
}
