.docs {
  display: flex;
  min-height: 150vh;
  text-decoration: none;

  &-side {
    width: 300px;
    background: #eee;
    flex-shrink: 0;

    li {
      height: 50px;
      border: 1px solid;
    }

    li:hover {
      background: #aaa;
    }
  }

  &-main {
    padding: 20px;
    flex-grow: 1;

    pre code {
      max-height: 70vh;
    }
  }

  &-iframe {
    padding-top: 20px;
    background: #eee;
    flex-shrink: 0;

    iframe {
      background: #fff;
      border: 1px solid #eee;
    }
  }
}
