@import '../../style/mixin';
$icon-prefix: $preifx + '-icon';

.#{$icon-prefix} {
    vertical-align: middle;
}

.#{$icon-prefix}-middle {
    width: $font-size;
    height: $font-size;
}

.#{$icon-prefix}-small {
    width: $font-size-sm;
    height: $font-size-sm;
}

.#{$icon-prefix}-large {
    width: $font-size-lg;
    height: $font-size-lg;
}
