$hd: 1px;

$preifx: "edm";
// 主题色
$color-default: #f0250f;
$color-secondary: rgb(255, 181, 6);
$color-default-gradient-dark: #f10000;
$color-default-gradient-light: #ff7e0e;
// 黑色
$color-dark: #2e2d2d;
$color-light: #fff;
$radius-size-big: 999px;
$font-size: 14 * $hd;
$font-size-sm: 12 * $hd;
$font-size-lg: 16 * $hd;
// 间距
// ---
// 水平间距
$h-spacing-sm: 5 * $hd;
$h-spacing-md: 8 * $hd;
$h-spacing-lg: 15 * $hd;

// 垂直间距
$v-spacing-xs: 3 * $hd;
$v-spacing-sm: 6 * $hd;
$v-spacing-md: 9 * $hd;
$v-spacing-lg: 15 * $hd;
$v-spacing-xl: 21 * $hd;
// Button
$button-height: 30 * $hd;
$button-height-sm: 22 * $hd;
$button-height-lg: 44 * $hd;
$button-color-tap: rgba($color-dark, 0.1);
$button-color-light: $color-light;
$button-radius: $radius-size-big;
// -------------------------------------------------
$fontFamily: roboto, helvetica neue light, helvetica neue, helvetica, arial,
  lucida grande, sans-serif;

/* prettier-ignore */
@function px($px) {
  @return $px + PX;
}
