$preifx: "edm";
$default-color: #F0250F;
// 主题色
$color-primary: #F0250F;
$color-primary-gradient-dark: #FF5533;
$color-primary-gradient-light: #FF861E;
// 黑色
$color-dark: #2E2D2D;
$color-light: #FFFFFF;
$radius-size-big:999px;
$font-size:16px;
// Button
$button-font-size: $font-size;
$button-height: 49px;
$button-color-light: $color-light;
$button-radius: $radius-size-big;
// -------------------------------------------------
$fontFamily: Roboto,
Helvetica Neue Light,
Helvetica Neue,
Helvetica,
Arial,
Lucida Grande,
sans-serif;