$preifx: "edm";
// 主题色
$color-default: #f0250f;
$color-default-gradient-dark: #f10000;
$color-default-gradient-light: #ff7e0e;
// 黑色
$color-dark: #2e2d2d;
$color-light: #ffffff;
$radius-size-big: 999px;
$font-size: 16px;
// Button
$button-font-size: $font-size;
$button-height: 48px;
$button-color-light: $color-light;
$button-radius: $radius-size-big;
// -------------------------------------------------
$fontFamily: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
  Lucida Grande, sans-serif;

@function getBorder1($color) {
  @return px(1) solid $color;
}

// prettier 会自动修改 PX 为 px，所以通过调用函数来返回 PX
/* prettier-ignore */
@function px($px) {
  @return $px + PX;
}
