a {
  text-decoration: none;
}
.document {
  &-nav {
    line-height: 3em;
    text-align: center;
    background: orange;
  }
  &-main {
    display: flex;
  }
  &-aside {
    width: 300px;
    min-height: 100vh;
    background: #eee;
    flex-shrink: 0;
  }
  &-article {
    padding: 20px;
    flex-grow: 1;
    pre {
      max-width: 760px;
      max-height: 50vh;
      overflow: auto;
    }
  }

  &-iframe {
    padding: 20px;
    iframe {
      border: none;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
